.auth {
  &__controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 388px;
  }
  &__input {
    padding: 0 16px;
    gap: 10px;
    // width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    &:focus,
    &:hover,
    &:active {
      border: 1px solid #000000;
      caret-color: #000000;
    }
  }
  &__info {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7b8e98;
    margin: 0.75rem 0 1rem 0;
  }

  &__link {
    text-align: right;
    cursor: pointer;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
  &__warning {
    color: red;
  }
  &__back {
    width: fit-content;
  }
}
.form {
  &__eye-wrapper {
    position: relative;
  }

  &__eye {
    position: absolute;
    color: #7b8e98;
    height: auto;
    right: 60px;
    bottom: 30px;
  }
  &__eye-reset {
    position: absolute;

    color: #7b8e98;

    margin-top: 14px;
    right: 60px;
  }
}
